.game-canvas {
  position: relative;
  width: 352px;
  height: 198px;
  margin: 0 auto;
  outline: 1px solid #fff;
  transform: scale(3) translateY(50%) translateX(50%);
  image-rendering: pixelated;
}
